<h2>Gerenciamento de Peças</h2>

<ng-template #noParts>
  <p>Carregando peças ou nenhuma peça cadastrada...</p>
</ng-template>

<hr> <h3>Cadastrar Nova Peça</h3>
<div>
  <input #partNameInput type="text" placeholder="Nome da nova peça">

  <button (click)="createPart(partNameInput.value); partNameInput.value=''">
    Criar Peça
  </button>
</div>

<hr>

<h3>Peças Cadastradas</h3>

<div *ngIf="parts.length > 0; else noPartsTemplate">
  <article *ngFor="let part of parts">
    <header>
      <strong>{{ part.name }}</strong>
    </header>
    Status atual: <i>{{ part.status }}</i>
  </article>
</div>

<ng-template #noPartsTemplate>
  <p>Nenhuma peça cadastrada.</p>
</ng-template>